<p>Existing user?  Log in!</p>
<div id="login_box">
  <form id="login_form" action="/session" method="POST">
    <ul>
      <li><input type="text" name="user[email]" placeholder="email"></li>
      <li><input type="password" name="user[password]" placeholder="password"></li>
      <li><input type="submit" value="Log In">
    </ul>
  </form>
</div>
